{% load static %}
<div class="chat">
    <div class="profile">
        <div class="profile-image">
            <img class="offline" src="{% static 'img/agostinho.jpeg' %}" alt="Foto de perfil">
        </div>
        <div class="profile-user-title">
            <div class="header-message">
                <span><b>{{ user.first_name}} {{ user.last_name}}</b> <i class="fa-solid fa-map-pin fixed-pin"></i></span>
                <i class="fa-solid fa-ellipsis more-chat-options"></i>
            </div>
            <div class="last-message">
                <div>
                    <i class="fa-solid fa-check"></i>                                            
                    <span class="last-message-text">Obrigado</span>
                </div>
                <span class="last-message-time">15:00</span>
            </div>
        </div>
    </div>
    <hr>
</div>