{% load static %}
<div class="post">
    <div class="header-post">
        <div class="profile">
            {% if post.autor.perfil_img %}
            <div class="profile-image">
                <img src="{{ post.autor.perfil_img.thumbnail.url }}" alt="Foto de perfil" />
            </div>
            {% else %}
            <div class="profile-image">
                <img src="{% static 'img/no-image-user.png' %}" alt="Foto de perfil" />
            </div>
            {% endif %}
            <div class="profile-user-title">
                <span><b><a href="#">{{ post.autor.get_full_name}}</a></b> <i class="fa-solid fa-right-long"></i> <a href="{% url 'group-detail' id=post.grupo.id %}"><span class="post-group-details">{{ post.grupo.nome }}</span></a></span>
                <!-- <span class="post-role">Project Management</span> -->
            </div>
        </div>
        <div class="header-options">
            <span>{{ post.hourCounter }}</span>
            <!-- <div id="more-options">
                <i class="fa-solid fa-ellipsis"></i>
            </div> -->
        </div>
    </div>
    <div class="content-post">
        <h4>{{ post.titulo }}</h4>
        <p>{{ post.conteudo }}</p>
    </div>
    <div class="details-post">
        <div id="social-icons">
            <div id="likes">
                <form>
                    {% csrf_token %}
                    <button class="like-button" data-post-id="{{ post.id }}">
                        <i id="heart-like-{{ post.id }}" class="{% if post.is_liked %}fa-solid fa-heart{% else %}fa-regular fa-heart{% endif %}"></i>
                    </button>
                    <span id="like-count-{{ post.id }}"><b>{{ post.likes_count }}</b></span>
                </form>
            </div>
            <!-- <div id="comments">
                <i id="comment-icon" class="fa-regular fa-message"></i>
                <span><b>7</b></span>
            </div> -->
        </div>
        <!-- <div id="share">
            <i class="fa-solid fa-share"></i>
        </div> -->
    </div>
</div>