{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-lg-4 col-md-6 col-sm-12">
		<div class="row">
			<div class="col">
				<section id="event-calendar">
					<h3>Calendário</h3>
					<div class="calendar-container">
						<div class="calendar-header">
							<button onclick="changeMonth(-1)"><i class="fa-solid fa-chevron-left"></i></button>
							<h2 id="month-year"></h2>
							<button onclick="changeMonth(1)"><i class="fa-solid fa-chevron-right"></i></button>
						</div>
						<div class="calendar-grid" id="calendar-grid"></div>
					</div>
					<hr>
					<button type="button" class="add-new-event" data-bs-target="#createEventModal" onclick="openModal()"><i class="fa-solid fa-plus"></i> Criar Novo Evento</button>
				</section>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="row">
			<div class="col">
				<section id="events-list">
					<div class="header">
						<h4>Eventos e Tarefas</h4>
					</div>
					<div class="events">
						{% for evento in eventos %}
						<div class="event">
							<div class="event-info-basic">
								<p class="event-title">{{ evento.nome }}</p>
								<p>{{ evento.data }}</p>
							</div>
							{% if evento.autor == user %}
							<div class="event-options">
								<a href="{{ evento.link }}" target="_blank"><i class="fa-solid fa-link"></i></a>
								<!-- <button
									class="open-edit-modal"
									data-bs-target="#editarModal"
									data-id="{{ evento.id }}"
									data-nome="{{ evento.nome }}"
									data-descricao="{{ evento.descricao }}"
									data-tipo="{{ evento.tipo }}"
									data-data="{{ evento.data|date:'Y-m-d\\TH:i' }}"
									data-modalidade="{{ evento.modalidade }}"
									data-link="{{ evento.link }}"
									data-participantes="{% for p in evento.participantes.all %}{{ p.id }}{% if not forloop.last %},{% endif %}{% endfor %}" 
									onclick="openEditEventModal()">
										<i class="fa-solid fa-pencil"></i>
								</button> -->
								
								<button
									data-bs-target="#deletarModal"
									data-id="{{ evento.id }}"
									data-nome="{{ evento.nome }}"
									class="open-delete-modal" onclick="openDeleteEventModal(this)">
									<i class="fa-solid fa-trash"></i>
								</button>
							</div>
							{% endif %}
						</div>
						{% endfor %}
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<!-- Modal Dinâmico de Edição -->
<div class="modal-box" id="editarModal">
    <div class="content">
        <h3>Visualizar / Editar Evento</h3>
        <form method="POST" action="{% url 'agenda_view' %}">
            {% csrf_token %}
            <input type="hidden" name="evento_id" id="edit-evento-id">

            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Nome do Evento</label>
                    {{ form.nome }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Descrição do Evento</label>
                    {{ form.descricao }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Tipo de Evento</label>
                    {{ form.tipo }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Data e Hora do Evento</label>
                    {{ form.data }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Modalidade do Evento</label>
                    {{ form.modalidade }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Link do Evento</label>
                    {{ form.link }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.participantes.id_for_label }}" class="form-label">Participantes</label>
                    {{ form.participantes }}
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Salvar alterações</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal Dinâmico de Exclusão -->
<div class="modal-box" id="deletarModal">
	<div class="content">
		<h3>Excluir Evento</h3>
		<form method="POST" id="delete-form">
			{% csrf_token %}
			<div class="modal-body">
				Tem certeza que deseja excluir o evento <strong id="delete-event-name"></strong>?
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-danger">Excluir</button>
			</div>
		</form>
	</div>
</div>

<!-- Modal Criação -->
<div class="modal-box" id="createEventModal">
	<div class="content">
        <h3>Criar Evento</h3>
		<form method="post">
			{% csrf_token %}
			<div class="mb-3">
				<label>Nome</label>
				{{ form.nome }}
			</div>
		
			<div class="mb-3">
				<label>Descrição</label>
				{{ form.descricao }}
			</div>
		
			<div class="mb-3">
				<label>Tipo</label>
				{{ form.tipo }}
			</div>
		
			<div class="mb-3">
				<label>Data</label>
				{{ form.data }}
			</div>
		
			<div class="mb-3">
				<label>Modalidade</label>
				{{ form.modalidade }}
			</div>
		
			<div class="mb-3">
				<label>Link</label>
				{{ form.link }}
			</div>
		
			<div class="mb-3">
				<label for="select-participantes">Participantes</label>
				{{ form.participantes }}
				<div id="selected-users" class="mt-2"></div>
			</div>
		
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Salvar Evento</button>
			</div>
		</form>
	</div>
</div>
<div id="fade-background">
	<span></span>
</div>

<script src="{% static 'scripts/modal-event-script.js' %}"></script>
<script src="{% static 'scripts/calendar-script.js' %}"></script>
{% endblock %}
