{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row" id="group-cover" {% if group.capa_grupo_img %}style="background: linear-gradient(rgba(27,38,59,1), rgba(27,38,59,0.3)), url('{{ group.capa_grupo_img.url }}');"{% else %}{% endif %}>
    <div class="col group-detail-title">
        <h1>{{ group.nome }}</h1>  
        {% if group.tipo == 'publico' %}
            <span class="post-role"><i class="fa-solid fa-earth-americas"></i> Grupo Público</span>
        {% else %}
            <span class="post-role"><i class="fa-solid fa-lock"></i> Grupo {{ group.tipo }}</span>
        {% endif %}  
    </div>
    <div class="profile">
        <div class="profile-image">
            <img src="{{ group.grupo_img.thumbnail.url }}" alt="Foto de perfil">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="row">
            <div class="col">
                <section id="feed-ordenator">
                    <div>
                        <h4><b>Feed</b></h4>
                        <p>Veja publicações relevantes do grupo {{ group.nome }}</p>
                    </div>
                    <div id="ordenator-list">
                        <form>
                            <span>Classificar por</span>
                            <select name="ordenator" id="ordenator">
                                <option value="most-relevant">Mais Relevantes</option>
                                <option value="most-recent" selected>Mais Recentes</option>
                            </select>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section id="posts">
                    {% for post in posts %}
                        {% include 'acessories/post.html' %}
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <section id="aside-content">
                <div id="suggest-header">
                    <h3>Sobre o Grupo</h3>
                </div>
                <p>{{ group.descricao }}</p>
                <h3>Membros ({{ membersCount.count }})</h3>
                {% for member in membersCount %}
                <div id="people-suggestions">
                    <div class="people-suggest">
                        <div class="profile">
                            <div class="profile-image">
                                <img src="{% static 'img/agostinho.jpeg' %}" alt="Foto de perfil">
                            </div>
                            <div class="profile-user-title">
                                <span><b><a href="#">{{ member.customuser.get_full_name}}</a></b></span>
                                <span class="post-role">Project Management</span>
                            </div>
                        </div>
                        {% if member.customuser.id != user.id %}
                        <i class="fa-solid fa-user-plus"></i>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
    </div>
</div>
<div id="add-icon" onclick="openModal()">
    <i class="fa-solid fa-plus"></i>
</div>
<div id="post-creator" class="modal-box">
    <div class="content">
        <div class="header-post">
            <div class="profile">
                <div class="profile-image">
                    <img src="{% static 'img/agostinho.jpeg' %}" alt="Foto de perfil">
                </div>
                <div class="profile-user-title">
                    <span><b><a href="#">{{ user.first_name}} {{ user.last_name}}</a></b> <i class="fa-solid fa-right-long"></i> <a href="{% url 'group-detail' id=group.id %}"><span class="post-group-details">{{ group.nome }}</span></a></span>
                    <span class="post-role">Project Management</span>
                </div>
            </div>
            <div class="header-options">
                <div id="tag-people">
                    <i class="fa-solid fa-user-tag"></i>
                </div>
            </div>
        </div>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" id="title-post" name="title-post" placeholder="Título da publicação" required>
            <textarea id="message-post" name="message-post" placeholder="Escreva sua mensagem" required></textarea>
            <div class="extras">
                <div id="file-toggle">
                    <i class="fa-regular fa-file"></i>
                </div>
                <div id="emoji-toggle">
                    <i class="fa-solid fa-face-smile"></i>
                </div>
            </div>
            <button type="submit" name="create-post-btn" id="create-post-btn">Postar</button>
        </form>
    </div>
</div>
<div id="fade-background">
    <span></span>
</div>
<!--End Main Container-->
</div>
{% endblock %}